body{
    width: 80%;
    margin: auto;
}
.container{
    display: flex;
    flex-flow: row wrap;
}
div img{
    width: 70%;
    height: 80%;
}
.img-container{
    width: 50%;
}
.hidden {
    display:none;
}